/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Noto Sans Thai Looped', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Anuphan Variable', sans-serif;
}

.alert {
	@apply flex flex-row items-start justify-start text-left;
}

main a {
	@apply link;
}
